<a href="https://colab.research.google.com/github/lohi629/computational_statistics/blob/main/correlation_coff.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
df=pd.read_excel("/content/data2.xlsx")
df

   x   y
0  3  11
1  7  18
2  4   9
3  2   4
4  0   7
5  4   6
6  1   3
7  2   8

In [2]:
x=df['x']
y=df['y']
def sum(x):
  s=0
  for i in x:
    s=s+i
  return s
sumx=sum(x)
sumy=sum(y)
sumxy=sum(x*y)
sumxx=sum(x*x)
sumyy=sum(y*y)
print(sumx,sumy,sumxy,sumxx,sumyy)

23 66 246 99 700

In [3]:
x_bar=sumx/len(x)
y_bar=sumy/len(x)
print(x_bar,y_bar)

2.875 8.25

In [4]:
cov=(sumxy/len(x))-(x_bar*y_bar)
print(cov)

7.03125

In [5]:
import math
sdx=math.sqrt((sumxx/len(x))-(x_bar**2))
sdy=math.sqrt((sumyy/len(x))-(y_bar**2))
print(sdx,sdy)

2.027159342528357 4.408798022137099

In [8]:
r=cov/(sdx*sdy)
print(r)

0.7867277140983885