In [1]:
import numpy as np
import pandas as pd
df=pd.read_excel("C:\\Users\\y20cs95\\Desktop\\Book5.xlsx")
df

   x1   SAT  GPA GRADUATE
0   1  1300  2.7      yes
1   1  1260  3.7      yes
2   1  1220  2.9      yes
3   1  1180  2.5      yes
4   1  1060  3.9      yes
5   1  1140  2.1       no
6   1  1100  3.5       no
7   1  1020  3.3       no
8   1   980  2.3       no
9   1   940  3.1       no

In [2]:
x1=df['x1']
x2=df['SAT']
x3=df['GPA']
y=df['GRADUATE']

In [18]:
df['GRADUATE']=y.replace('yes', 1)

In [19]:
df['GRADUATE']=y.replace('no', 0)

In [23]:
y=df['GRADUATE']

In [31]:
Ytrans=np.array([y])
Xtrans=np.array([x1,x2,x3])

In [30]:
def transpose(m):
    res=[[0 for i in range(len(m))]for j in range(len(m[0]))]
    for i in range(len(m[0])):
        for j in range(len(m)):
            res[i][j]=m[j][i]
    return res

In [32]:
Y=transpose(Ytrans)
X=transpose(Xtrans)

In [33]:
def display(m):
    for i in range(len(m)):
        for j in range(len(m[0])):
            print(m[i][j],end=" ")
        print()

In [34]:
def inverse(m):
    s=np.linalg.inv(m) 
    return s

In [35]:
def mul(m,n):
    c=[[0 for i in range(len(n[0]))]for j in range(len(m))]
    for i in range(len(m)):
        for j in range(len(n[0])):
            for k in range(len(n)):
                c[i][j]=c[i][j]+(m[i][k]*n[k][j])
    return c

In [37]:
xtx=mul(Xtrans,X)
xtx_inv=inverse(xtx)
xty=mul(Xtrans,Y)
betacap=mul(xtx_inv,xty)
display(betacap)

-3.8391963497203943
0.0032326317338828565
0.2395496025905297

In [40]:
b=np.ravel(betacap)
print(len(b))

3

In [42]:
for i in range(len(b)):
    print("equation is : y=",b[i],"+",b[i+1],"SAT +",b[i+2],"GPA")
    break

equation is : y= -3.8391963497203943 + 0.0032326317338828565 SAT + 0.2395496025905297 GPA

In [45]:
sat=int(input("enter sat value:"))
gpa=float(input("enter gpa value:"))
ycal=b[0]+(b[1]*sat)+(b[2]*gpa)
print(ycal)

enter sat value:1000
enter gpa value:2.9
0.08812923167499864

In [46]:
if(ycal<=0.5):
    print("not graduate")
else:
    print("graduate")

not graduate