In [1]:
import pandas as pd
import numpy as np
df=pd.read_excel("C:\\Users\\y20cs95\\Desktop\\Book4.xlsx")
df

    y1   y2  x1  x2  x3   x4
0   10  100   1   9  62  1.0
1   12  110   1   8  58  1.3
2   11  105   1   7  64  1.2
3    9   94   1  14  60  0.8
4    9   95   1  12  63  0.8
5   10   99   1  10  57  0.9
6   11  104   1   7  55  1.0
7   12  108   1   4  56  1.2
8   11  105   1   6  59  1.1
9   10   98   1   5  61  1.0
10  11  103   1   7  57  1.2
11  12  110   1   6  60  1.2

In [2]:
y1=df['y1']
y2=df['y2']
x1=df['x1']
x2=df['x2']
x3=df['x3']
x4=df['x4']

In [8]:
ytrans=np.array([y1,y2])
xtrans=np.array([x1,x2,x3,x4])

In [7]:
def transpose(m):
    res=[[0 for i in range(len(m))]for j in range(len(m[0]))]
    for i in range(len(m[0])):
        for j in range(len(m)):
            res[i][j]=m[j][i]
    return res

In [11]:
y=transpose(ytrans)
x=transpose(xtrans)

In [12]:
def display(m):
    for i in range(len(m)):
        for j in range(len(m[0])):
            print(m[i][j],end=" ")
        print()

In [13]:
def inverse(m):
    s=np.linalg.inv(m) 
    return s

In [14]:
def mul(m,n):
    c=[[0 for i in range(len(n[0]))]for j in range(len(m))]
    for i in range(len(m)):
        for j in range(len(n[0])):
            for k in range(len(n)):
                c[i][j]=c[i][j]+(m[i][k]*n[k][j])
    return c

In [16]:
xtx=mul(xtrans,x)
xtx_inv=inverse(xtx)
xty=mul(xtrans,y)
betacap=mul(xtx_inv,xty)
display(betacap)

10.89699524065577 91.09719893468173
-0.04494028839278741 -0.06400723277215548
-0.08770358705354109 -0.29437367196236397
5.035459723744907 27.83530349088869

In [30]:
b=[]
i=0
while(i<4):
    b.append(betacap[i][0])
    i=i+1
print(b)

[10.89699524065577, -0.04494028839278741, -0.08770358705354109, 5.035459723744907]

In [32]:
a=[]
i=0
while(i<4):
    a.append(betacap[i][1])
    i=i+1
print(a)

[91.09719893468173, -0.06400723277215548, -0.29437367196236397, 27.83530349088869]

In [35]:
print("equation is:","y1=",b[0],"+",b[1],"x1 +",b[2],"x2 +",b[3],"x3")
print("equation is:","y2=",a[0],"+",a[1],"x1 +",a[2],"x2 +",a[3],"x3")

equation is: y1= 10.89699524065577 + -0.04494028839278741 x1 + -0.08770358705354109 x2 + 5.035459723744907 x3
equation is: y2= 91.09719893468173 + -0.06400723277215548 x1 + -0.29437367196236397 x2 + 27.83530349088869 x3