In [2]:
import pandas as pd
import numpy as np
df=pd.read_excel("C:\\Users\\y20cs95\\Desktop\\Book1.xlsx")
df

    y1   y2  x1  x2  x3   x4
0   10  100   1   9  62  1.0
1   12  110   1   8  58  1.3
2   11  105   1   7  64  1.2
3    9   94   1  14  60  0.8
4    9   95   1  12  63  0.8
5   10   99   1  10  57  0.9
6   11  104   1   7  55  1.0
7   12  108   1   4  56  1.2
8   11  105   1   6  59  1.1
9   10   98   1   5  61  1.0
10  11  103   1   7  57  1.2
11  12  110   1   6  60  1.2

In [29]:
y1=df['y1']
y2=df['y2']
x1=df['x1']
x2=df['x2']
x3=df['x3']
x4=df['x4']

In [4]:
ytrans=np.array([y1,y2])
xtrans=np.array([x1,x2,x3,x4])

In [18]:
def transpose(m):
    res=[[0 for i in range(len(m))]for j in range(len(m[0]))]
    for i in range(len(m[0])):
        for j in range(len(m)):
            res[i][j]=m[j][i]
    return res

In [19]:
y=transpose(ytrans)
x=transpose(xtrans)

In [20]:
def display(m):
    for i in range(len(m)):
        for j in range(len(m[0])):
            print(m[i][j],end=" ")
        print()

In [21]:
def inverse(m):
    s=np.linalg.inv(m) 
    return s

In [22]:
def mul(m,n):
    c=[[0 for i in range(len(n[0]))]for j in range(len(m))]
    for i in range(len(m)):
        for j in range(len(n[0])):
            for k in range(len(n)):
                c[i][j]=c[i][j]+(m[i][k]*n[k][j])
    return c

In [59]:
xtx=mul(xtrans,x)
xtx_inv=inverse(xtx)
xty=mul(xtrans,y)
betacap=mul(xtx_inv,xty)
#display(betacap)
display(xtx_inv)

54.81224047099969 -0.3054430189665313 -0.7050233376722634 -9.901825387994043
-0.3054430189665173 0.024395045053105305 -0.0034304316399554266 0.29844521851980066
-0.7050233376722694 -0.0034304316399552124 0.012315008391291906 0.0014082742726882773
-9.90182538799381 0.2984452185198019 0.0014082742726841927 7.044639182235702

In [24]:
b=[]
i=0
while(i<4):
    b.append(betacap[i][0])
    i=i+1
print(b)

[10.89699524065577, -0.04494028839278741, -0.08770358705354109, 5.035459723744907]

In [25]:
a=[]
i=0
while(i<4):
    a.append(betacap[i][1])
    i=i+1
print(a)

[91.09719893468173, -0.06400723277215548, -0.29437367196236397, 27.83530349088869]

In [26]:
print("equation is:","y1=",b[0],"+",b[1],"x1 +",b[2],"x2 +",b[3],"x3")
print("equation is:","y2=",a[0],"+",a[1],"x1 +",a[2],"x2 +",a[3],"x3")

equation is: y1= 10.89699524065577 + -0.04494028839278741 x1 + -0.08770358705354109 x2 + 5.035459723744907 x3
equation is: y2= 91.09719893468173 + -0.06400723277215548 x1 + -0.29437367196236397 x2 + 27.83530349088869 x3

In [30]:
y1exp=y1
y1cal=betacap[0][0]+(betacap[1][0]*x2)+(betacap[2][0]*x3)+(betacap[3][0]*x4)
print(y1cal)

0     10.090370
1     11.996763
2     11.011935
3      9.033984
4      8.860754
5      9.980402
6     10.794176
7     11.848385
8     10.991848
9     10.357835
10    11.625860
11    11.407690
dtype: float64

In [31]:
y2exp=y2
y2cal=betacap[0][1]+(betacap[1][1]*x2)+(betacap[2][1]*x3)+(betacap[3][1]*x4)
print(y2cal)

0     100.105270
1     109.697363
2     105.211597
3      94.806920
4      94.051814
5      98.729600
6     102.293900
7     107.758609
8     103.963943
9     100.655672
10    107.272213
11    106.453099
dtype: float64

In [32]:
y1err=y1-y1cal
y2err=y2-y2cal
print(y1err,y2err)

0    -0.090370
1     0.003237
2    -0.011935
3    -0.033984
4     0.139246
5     0.019598
6     0.205824
7     0.151615
8     0.008152
9    -0.357835
10   -0.625860
11    0.592310
dtype: float64 0    -0.105270
1     0.302637
2    -0.211597
3    -0.806920
4     0.948186
5     0.270400
6     1.706100
7     0.241391
8     1.036057
9    -2.655672
10   -4.272213
11    3.546901
dtype: float64

In [42]:
def sum(x):
    s=0
    for i in x:
        s=s+i
    return s

In [35]:
error1sq=y1err*y1err
sum1_error=sum(error1sq)
print("sse_y1:",sum1_error)
error2sq=y2err*y2err
sum2_error=sum(error2sq)
print("sse_y2:",sum2_error)

sse_y1: 0.9652436353394355
sse_y2: 43.6981048985381

In [37]:
y1sum=sum(y1)
y1mean=y1sum/len(y1)
print(y1mean)
y2sum=sum(y2)
y2mean=y2sum/len(y2)
print(y2mean)

10.666666666666666
102.58333333333333

In [39]:
y1diff=y1-y1mean
y1dif=y1diff**2
sst1=sum(y1dif)
print("sst_y1:",sst1)
y2diff=y2-y2mean
y2dif=y2diff**2
sst2=sum(y2dif)
print("sst_y2:",sst2)

sst_y1: 12.666666666666664
sst_y2: 324.9166666666667

In [41]:
ssr1=sst1-sum1_error
print("ssr_y1:",ssr1)
ssr2=sst2-sum2_error
print("ssr_y2:",ssr2)

ssr_y1: 11.701423031327229
ssr_y2: 281.2185617681286

In [45]:
coff_of_det_y1=ssr1/sst1
print(coff_of_det_y1)
coff_of_det_y2=ssr2/sst2
print(coff_of_det_y2)

0.9237965551047814
0.865509807955256

In [47]:
def r(x):
    if(x>=0.90):
        print("good fit")
    else:
        print("bad fit")
r(coff_of_det_y1)
r(coff_of_det_y2)

good fit
bad fit

# anova

In [50]:
df_regression=len(betacap)-1
df_error=len(df)-len(betacap)
mean_ssr1=ssr1/df_regression
mean_sse1=sum1_error/df_error
Fcal1=mean_ssr1/mean_sse1
print("Fcal_y1:",Fcal1)
mean_ssr2=ssr2/df_regression
mean_sse2=sum2_error/df_error
Fcal2=mean_ssr2/mean_sse2
print("Fcal_y2:",Fcal2)

Fcal_y1: 32.32737684847089
Fcal_y2: 17.161297187972508

In [51]:
import scipy.stats as s
Ftab=s.f.ppf(.95,df_regression,df_error)
print("tablevalue:",Ftab)

tablevalue: 4.06618055135116

In [52]:
def anova(x):
    if(x>=Ftab):
        print("reject null and accept model")
    else:
        print("accept null and reject model")

In [54]:
anova(Fcal1)
anova(Fcal2)

reject null and accept model
reject null and accept model

# test for parameters

In [56]:
c=[]
for i in range(len(xtx_inv)):
    for j in range(len(xtx_inv[0])):
        if(i==j):
            c.append(xtx_inv[i][j])
print(c)

[54.81224047099969, 0.024395045053105305, 0.012315008391291906, 7.044639182235702]

In [66]:
def t(x,y):
    se=[]
    t=[]
    for i in c:
        p=(y*i)**0.5
        se.append(p)
    for i in range(len(se)):
        s=x[i]/se[i]
        t.append(abs(s))
    return t

In [67]:
y1_t=t(b,mean_sse1)

In [68]:
y2_t=t(a,mean_sse2)

In [69]:
import scipy.stats as s
ttab=s.t.ppf(0.05/2,df_error)
t_tab=abs(ttab)
print(t_tab)

2.306004135033371

In [71]:
def ttest(x):
    for i in x:
        if(i>=t_tab):
            print("reject null and variable is contributing to model")
        else:
            print("accept null and variable is not contributing to model")
ttest(y1_t)

reject null and variable is contributing to model
accept null and variable is not contributing to model
accept null and variable is not contributing to model
reject null and variable is contributing to model

In [72]:
ttest(y2_t)

reject null and variable is contributing to model
accept null and variable is not contributing to model
accept null and variable is not contributing to model
reject null and variable is contributing to model