<a href="https://colab.research.google.com/github/lohi629/computational_statistics/blob/main/rankcorrelation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
import numpy as np
import pandas as pd
df=pd.read_excel("/content/Book3.xlsx")
df

     x   y
0  105  75
1  109  73
2  112  85
3   87  70
4   98  76
5  120  82
6   98  65
7  100  73
8   98  68
9  118  80

In [33]:
x=df['x']
y=df['y']

In [44]:
xx=list(x)
yy=list(y)
xx.sort(reverse=True)
d=dict()
i=0
while(i<len(xx)):
  if(xx.count(xx[i])==1):
    d[xx[i]]=i+1
    i=i+1
  else:
    s=0
    for j in range(xx.count(xx[i])):
      s=s+(j+i+1)
    avg=s/(xx.count(xx[i]))

    d[xx[i]]=avg
    i=i+xx.count(xx[i])
    
l=[]
for i in x:
  if i in d.keys():
    l.append(d[i])
p=pd.DataFrame(l)
df['rankx']=p
yy.sort(reverse=True)
i=0
while(i<len(yy)):
  if(yy.count(yy[i])==1):
    d[yy[i]]=i+1
    i=i+1
  else:
    s=0
    for j in range(yy.count(yy[i])):
      s=s+(j+i+1)
    avg=s/(yy.count(yy[i]))

    d[yy[i]]=avg
    i=i+yy.count(yy[i])

l=[]
for i in y:
  if i in d.keys():
    l.append(d[i])
p=pd.DataFrame(l)
df['ranky']=p
print(df)
print(xx)

     x   y  rankx  ranky
0  105  75    5.0    5.0
1  109  73    4.0    6.5
2  112  85    3.0    1.0
3   87  70   10.0    8.0
4   98  76    8.0    4.0
5  120  82    1.0    2.0
6   98  65    8.0   10.0
7  100  73    6.0    6.5
8   98  68    8.0    9.0
9  118  80    2.0    3.0
[120, 118, 112, 109, 105, 100, 98, 98, 98, 87]

In [45]:
df['fin']=df['rankx']-df['ranky']
print(df)

     x   y  rankx  ranky  fin
0  105  75    5.0    5.0  0.0
1  109  73    4.0    6.5 -2.5
2  112  85    3.0    1.0  2.0
3   87  70   10.0    8.0  2.0
4   98  76    8.0    4.0  4.0
5  120  82    1.0    2.0 -1.0
6   98  65    8.0   10.0 -2.0
7  100  73    6.0    6.5 -0.5
8   98  68    8.0    9.0 -1.0
9  118  80    2.0    3.0 -1.0

In [46]:
df['d']=df['fin']*df['fin']
print(df)

     x   y  rankx  ranky  fin      d
0  105  75    5.0    5.0  0.0   0.00
1  109  73    4.0    6.5 -2.5   6.25
2  112  85    3.0    1.0  2.0   4.00
3   87  70   10.0    8.0  2.0   4.00
4   98  76    8.0    4.0  4.0  16.00
5  120  82    1.0    2.0 -1.0   1.00
6   98  65    8.0   10.0 -2.0   4.00
7  100  73    6.0    6.5 -0.5   0.25
8   98  68    8.0    9.0 -1.0   1.00
9  118  80    2.0    3.0 -1.0   1.00

In [47]:
s=0
for i in df['d']:
  s=s+i

coff=1-((6*s)/(len(x)*((len(x)**2)-1)))
print(coff)

0.7727272727272727