In [1]:
import pandas as pd
import numpy as np
df=pd.read_excel("C:\\Users\\exam2\\Desktop\\Book2.xlsx")
df

   x1  x2  x3
0  90  60  90
1  90  90  30
2  60  60  60
3  60  60  90
4  30  30  30

In [18]:
x1=df['x1']
x2=df['x2']
x3=df['x3']
def transpose(m):
    res=[[0 for i in range(len(m))]for j in range(len(m[0]))]
    for i in range(len(m[0])):
        for j in range(len(m)):
            res[i][j]=m[j][i]
    return res
def mean(x):
    s=0
    for i in x:
        s=s+i
    l=s/len(x)
    return l
def display(m):
    for i in range(len(m)):
        for j in range(len(m[0])):
            print(m[i][j],end=" ")
        print()
def mul(m,n):
    c=[[0 for i in range(len(n[0]))]for j in range(len(m))]
    for i in range(len(m)):
        for j in range(len(n[0])):
            for k in range(len(n)):
                c[i][j]=c[i][j]+(m[i][k]*n[k][j])
    return c
def inverse(m):
    s=np.linalg.inv(m) 
    return s

In [19]:
xtrans=np.array([x1,x2,x3])
x=transpose(xtrans)
u1=mean(x1)
u2=mean(x2)
u3=mean(x3)
u=np.array([u1,u2,u3])
u=np.array([u])
print(u)

[[66. 60. 60.]]

In [23]:
a=[]
for i in x:
    l=[(i[0]-u[0][0]),(i[1]-u[0][1]),(i[2]-u[0][2])]
    a.append(l)
atrans=transpose(a)
c=mul(atrans,a)
for i in range(len(c)):
    for j in range(len(c[0])):
        c[i][j]=c[i][j]/len(x)
def trace(m):
    s=0
    for i in range(len(m)):
        for j in range(len(m[0])):
            if(i==j):
                s=s+m[i][j]
    return s
def getcofactor(m, i, j):
    return [row[: j] + row[j+1:] for row in (m[: i] + m[i+1:])]
def det(mat):
	if(len(mat) == 2):
		value = mat[0][0] * mat[1][1] - mat[1][0] * mat[0][1]
		return value
	Sum = 0
	for current_column in range(len(mat)):
		sign = (-1) ** (current_column)
		sub_det = determinantOfMatrix(getcofactor(mat, 0, current_column))
		Sum += (sign * mat[0][current_column] * sub_det)
	return Sum

In [28]:
first=1
second=-trace(c)
third=trace(inverse(c)*det(c))
fourth=-det(c)

In [29]:
coeff=list([first,second,third,fourth])
print(coeff)

[1, -1584.0, 641519.9999999995, -25660800.0]

In [30]:
def eigen(x):
    p=np.roots(x)
    return p
eig=eigen(coeff)
print(eig)

[910.06995304 629.11038668  44.81966028]

In [33]:
eigen_vectors=np. linalg. eig(c)
display(eigen_vectors)

44.81966028263878 910.0699530410361 629.1103866763253
[ 0.6487899  -0.65580225 -0.3859988 ] [-0.74104991 -0.4291978  -0.51636642] [-0.17296443 -0.62105769  0.7644414 ]